<div class="authform" >

<h1> User <%= @current_user.id %> </h1>

   <%= form_for :utility_account do |f| %>
     <div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :account_no, :value => f.account_no %>
    </div>
    
   <%= f.submit 'Update', :class => 'btn btn-primary' %>
  <% end %>
</div>
</div>
