<!DOCTYPE html>
<html>
<head>
	<h3>Utility Account</h3><%= link_to "Add Utility", utility_accounts_new_path, class: "btn btn-primary" %> </div> </br>
</head>
<body>
	<table class = "table table-bordered" cellpadding = "5" cellspacing ="5">
  <tr>
    <th>Account No</th>
    <th>Utility Name</th>
    <th>Address</th>    
    <th>Zip Code</th>    
    </tr>
  <% @utility_account.each do |ua| %>
    <tr>
      <td><%= ua.account_no %></td>
      <td><%= ua.utility_name %></td>
      <td><%= ua.address %></td>
      <td><%= ua.zip_code %></td> 
      </tr>
  <% end %>
</table>
</body>
</html>


