<!DOCTYPE html>
<html>
<head>
   <div>
	<h3>Utility Account</h3>
	<%= form_tag utility_accounts_path, :method => "get", id: "search-form" do %>
	<%= text_field_tag :search, params[:search], :tabindex => "1", placeholder: "Search Account-No" %>
	<%= submit_tag "Search", class: "btn btn-primary", :tabindex => "2", :account_no => nil %>
	<% end %> </div><br>
</head>
<body>

<% if !@utility_account.empty? %>
<table class = "table table-bordered" cellpadding = "5" cellspacing ="5">
  <tr>    
    <th>Account No</th>
    <th>Utility Name</th>
    <th>Utility Company</th>
    <th>Street 1</th>
    <th>Street 2</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>  
    <th>Zip Code</th>
  </tr>
  <% @utility_account.each do |ua| %>
    <tr>      
      <td><%= ua.account_no %></td>      
      <td><%= ua.utility_name %></td>
      <td><%= ua.utility_company %></td>
      <td><%= ua.street1 %></td>
      <td><%= ua.street2 %></td>
      <td><%= ua.city %></td>
      <td><%= ua.state %></td>
      <td><%= ua.country %></td>
      <td><%= ua.zip_code %></td>        


      <%= form_for UsersUtilityAccount.new do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :utility_account_id, :value => ua.account_no %>
  </tr>
</table>

      <%= f.submit 'Add', :tabindex => "3", :class => 'btn btn-primary' %>
      <% end %>
       
    <% end %>    
  <% else %>
    <div class="alert alert-info">Account not found!</div>     
<% end %>
</body>
</html>


