

<!DOCTYPE html>
<html>
  <head>
    <title>CONSERVE NOW UTILITY</title>
    
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%#= stylesheet_link_tag '1st_load_framework.css.scss', media: 'all' %>
    <%#= stylesheet_link_tag 'custom.css.scss', media: 'all' %>
    <%#= stylesheet_link_tag '_bootstrap.scss', media: 'all' %>
    <%#= stylesheet_link_tag '_bootstrap-compass.scss', media: 'all' %>
    <%#= stylesheet_link_tag '_bootstrap-mincer.scss', media: 'all' %>
    <%#= stylesheet_link_tag '_bootstrap.sprockets.scss', media: 'all' %>

    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>
    <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

 <div id="header">
    <%= render 'layouts/header' %>    
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>    
      <div class="container">
      <% flash.each do |key, value| %>
        <br /><br />
      <% end %>
      <%= yield %>
          <div id="footer"></div>
    </div>
</body>
</html>

